
body
{
    background-image: url(wallpaperflare.com_wallpaper\ \(4\).jpg);
    background-size: cover;
    margin: 0;
    padding: 0;

}

.navbar
{
 
    background-color: #0f0f0f;
    width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
    font-style: italic;
    font-size: large;
    font-weight: bold;
    color: whitesmoke;

    
}

   

input {
    appearance:none;
    margin:0 40px;
    width: 24px;
    height: 24px;
    background: #fa0202;
    box-shadow:
      inset 0 0 0 .4em rgb(36, 35, 35),
      0 0 0 .3em;
    border-radius: 50%;
    transition: .2s;
    cursor:pointer;
    color: #363945;
  
    &:hover,
    &:checked {
      background: #db1515;
      box-shadow:
      inset 0 0 0 .6em rgb(105, 104, 104),
      0 0 0 .3em;
    }
    
    &:checked {
      background: #f70303;
      box-shadow:
        inset 0 0 0 .4em white,
        0 0 0 .3em #f30909;
    } 
  
    &:focus { outline: 0; }
  }
  


.Xmen img {
    border-radius: 5px;
    height: 444px;
    width: 300px;
    padding: 3px;

}
.Avengers img {
    border-radius: 5px;
    height: 444px;
    width: 300px;
    padding: 3px;
}
.Princess img {
    border-radius: 5px;
    height: 444px;
    width: 300px;
    padding: 3px;
}
.Batman img {
    border-radius: 5px;
    height: 444px;
    width: 300px;
    padding: 3px;
}
.New {
    display: none;
}
.New img {
    border-radius: 5px;
    height: 444px;
    width: 300px;
    padding: 3px;
}
.New img:hover {
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
     transform: scale(1.1,1.1);
	-webkit-box-shadow: 10px 10px 91px 0px rgb(250, 9, 17);
    -moz-box-shadow: 10px 10px 91px 0px rgb(247, 12, 20);
     box-shadow: 10px 10px 91px 0px rgb(238, 7, 15);
		z-index:9999;
		border-right:1px solid transparent;
		border-bottom:1px solid transparent;
		cursor:pointer;
		background-color:rgb(0, 0, 0);
}
.Xmen img:hover {
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
     transform: scale(1.1,1.1);
	-webkit-box-shadow: 10px 10px 91px 0px rgb(250, 9, 17);
    -moz-box-shadow: 10px 10px 91px 0px rgb(247, 12, 20);
     box-shadow: 10px 10px 91px 0px rgb(238, 7, 15);
		z-index:9999;
		border-right:1px solid transparent;
		border-bottom:1px solid transparent;
		cursor:pointer;
		background-color:rgb(0, 0, 0);
}

.Avengers img:hover {
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
     transform: scale(1.1,1.1);
	-webkit-box-shadow: 10px 10px 91px 0px rgb(247, 4, 13);
    -moz-box-shadow: 10px 10px 91px 0px rgb(248, 7, 15);
     box-shadow: 10px 10px 91px 0px rgb(248, 3, 11);
		z-index:9999;
		border-right:1px solid transparent;
		border-bottom:1px solid transparent;
		cursor:pointer;
		background-color:rgb(5, 5, 5);
}

.Princess img:hover {
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
     transform: scale(1.1,1.1);
	-webkit-box-shadow: 10px 10px 91px 0px rgb(250, 4, 13);
    -moz-box-shadow: 10px 10px 91px 0px rgb(253, 4, 12);
     box-shadow: 10px 10px 91px 0px rgb(248, 2, 10);
		z-index:9999;
		border-right:1px solid transparent;
		border-bottom:1px solid transparent;
		cursor:pointer;
		background-color:rgb(2, 2, 2);
}

.Batman img:hover {
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
     transform: scale(1.1,1.1);
	-webkit-box-shadow: 10px 10px 91px 0px rgb(252, 1, 10);
    -moz-box-shadow: 10px 10px 91px 0px rgb(250, 2, 11);
     box-shadow: 10px 10px 91px 0px rgb(252, 3, 11);
		z-index:9999;
		border-right:1px solid transparent;
		border-bottom:1px solid transparent;
		cursor:pointer;
		background-color:rgb(2, 2, 2);
}